In [5]:
# !pip install polars

In [6]:
import polars as pl
import numpy as np
import pandas as pd
# from polars import sample/
# https://github.com/martinbel/polars-tutorial/blob/master/01%20-%20Polars.ipynb

In [7]:
df = pl.read_csv("Data/colors.csv")
df.head()

shape: (5, 4)
┌─────┬────────────────┬────────┬──────────┐
│ id  ┆ name           ┆ rgb    ┆ is_trans │
│ --- ┆ ---            ┆ ---    ┆ ---      │
│ i64 ┆ str            ┆ str    ┆ str      │
╞═════╪════════════════╪════════╪══════════╡
│ -1  ┆ Unknown        ┆ 0033B2 ┆ f        │
│ 0   ┆ Black          ┆ 05131D ┆ f        │
│ 1   ┆ Blue           ┆ 0055BF ┆ f        │
│ 2   ┆ Green          ┆ 237841 ┆ f        │
│ 3   ┆ Dark Turquoise ┆ 008F9B ┆ f        │
└─────┴────────────────┴────────┴──────────┘

In [8]:
df.shape

(135, 4)

In [9]:
print(df.head(2))

shape: (2, 4)
┌─────┬─────────┬────────┬──────────┐
│ id  ┆ name    ┆ rgb    ┆ is_trans │
│ --- ┆ ---     ┆ ---    ┆ ---      │
│ i64 ┆ str     ┆ str    ┆ str      │
╞═════╪═════════╪════════╪══════════╡
│ -1  ┆ Unknown ┆ 0033B2 ┆ f        │
│ 0   ┆ Black   ┆ 05131D ┆ f        │
└─────┴─────────┴────────┴──────────┘

In [10]:
df.dtypes

[Int64, Utf8, Utf8, Utf8]

# Selecting and Filtering Data
Here I'll do some operations that are similar to the SELECT and WHERE in sql

# Indexing with[but is an Anti Pattern ] in polars
There in no loc and iloc functions in polars,it dosen't have indexes

In [11]:
df[0,:]

shape: (1, 4)
┌─────┬─────────┬────────┬──────────┐
│ id  ┆ name    ┆ rgb    ┆ is_trans │
│ --- ┆ ---     ┆ ---    ┆ ---      │
│ i64 ┆ str     ┆ str    ┆ str      │
╞═════╪═════════╪════════╪══════════╡
│ -1  ┆ Unknown ┆ 0033B2 ┆ f        │
└─────┴─────────┴────────┴──────────┘

In [12]:
#  R:C
df[ : ,['id','name']].head()

shape: (5, 2)
┌─────┬────────────────┐
│ id  ┆ name           │
│ --- ┆ ---            │
│ i64 ┆ str            │
╞═════╪════════════════╡
│ -1  ┆ Unknown        │
│ 0   ┆ Black          │
│ 1   ┆ Blue           │
│ 2   ┆ Green          │
│ 3   ┆ Dark Turquoise │
└─────┴────────────────┘

In [13]:
df.filter(pl.col("id")>=6)

shape: (128, 4)
┌──────┬────────────────────────┬────────┬──────────┐
│ id   ┆ name                   ┆ rgb    ┆ is_trans │
│ ---  ┆ ---                    ┆ ---    ┆ ---      │
│ i64  ┆ str                    ┆ str    ┆ str      │
╞══════╪════════════════════════╪════════╪══════════╡
│ 6    ┆ Brown                  ┆ 583927 ┆ f        │
│ 7    ┆ Light Gray             ┆ 9BA19D ┆ f        │
│ 8    ┆ Dark Gray              ┆ 6D6E5C ┆ f        │
│ 9    ┆ Light Blue             ┆ B4D2E3 ┆ f        │
│ …    ┆ …                      ┆ …      ┆ …        │
│ 1005 ┆ Trans Fire Yellow      ┆ FBE890 ┆ t        │
│ 1006 ┆ Trans Light Royal Blue ┆ B4D4F7 ┆ t        │
│ 1007 ┆ Reddish Lilac          ┆ 8E5597 ┆ f        │
│ 9999 ┆ [No Color]             ┆ 05131D ┆ f        │
└──────┴────────────────────────┴────────┴──────────┘

# Select Data with Idiomatic Polars

In [14]:
# df.sample(5).to_pandas()

In [15]:
df.select(['id','name'])

shape: (135, 2)
┌──────┬────────────────────────┐
│ id   ┆ name                   │
│ ---  ┆ ---                    │
│ i64  ┆ str                    │
╞══════╪════════════════════════╡
│ -1   ┆ Unknown                │
│ 0    ┆ Black                  │
│ 1    ┆ Blue                   │
│ 2    ┆ Green                  │
│ …    ┆ …                      │
│ 1005 ┆ Trans Fire Yellow      │
│ 1006 ┆ Trans Light Royal Blue │
│ 1007 ┆ Reddish Lilac          │
│ 9999 ┆ [No Color]             │
└──────┴────────────────────────┘

In [16]:
# keeps all the orignal columns and add new column
# similar to SELECT* in SQL

# df.columns([
#     (pl.col('is_trans') + "Hehe").alias("HeheAdded")
# ]).head()

In [17]:
df.filter(pl.col('id').is_in([1,2]))

shape: (2, 4)
┌─────┬───────┬────────┬──────────┐
│ id  ┆ name  ┆ rgb    ┆ is_trans │
│ --- ┆ ---   ┆ ---    ┆ ---      │
│ i64 ┆ str   ┆ str    ┆ str      │
╞═════╪═══════╪════════╪══════════╡
│ 1   ┆ Blue  ┆ 0055BF ┆ f        │
│ 2   ┆ Green ┆ 237841 ┆ f        │
└─────┴───────┴────────┴──────────┘

In [18]:
df.select(pl.col('id').n_unique())

shape: (1, 1)
┌─────┐
│ id  │
│ --- │
│ u32 │
╞═════╡
│ 135 │
└─────┘

In [19]:
# .min()
# .max().alias('ss')
# .median().alias("ss")
# .mean()
# .std()alias()

In [20]:
df.select(['id','name']).describe()

shape: (9, 3)
┌────────────┬────────────┬────────────┐
│ describe   ┆ id         ┆ name       │
│ ---        ┆ ---        ┆ ---        │
│ str        ┆ f64        ┆ str        │
╞════════════╪════════════╪════════════╡
│ count      ┆ 135.0      ┆ 135        │
│ null_count ┆ 0.0        ┆ 0          │
│ mean       ┆ 253.037037 ┆ null       │
│ std        ┆ 878.441466 ┆ null       │
│ min        ┆ -1.0       ┆ Aqua       │
│ max        ┆ 9999.0     ┆ [No Color] │
│ median     ┆ 85.0       ┆ null       │
│ 25%        ┆ 34.0       ┆ null       │
│ 75%        ┆ 232.0      ┆ null       │
└────────────┴────────────┴────────────┘

In [21]:
# id.sample(13).to_pandas().hist(bins=30)

In [22]:
sample = 10000


df = pl.DataFrame({
    "roll_number": np.arange(1,sample+1),
    "student name": np.random.choice(["Ali","Hamza","Junaid","Asif","Raza",'Khuzaima',"kamil","Maaz","Rafay","Usman"], sample),
    "father name": np.random.choice(["Ebad","Hashim","Konain","Yasir","Iqbal"], sample),
    "DOB": np.random.choice(pd.date_range("1960-01-01", "2015-12-31", freq="D").values, sample),
    "s1": np.random.randint(1,100, sample),
    "s2": np.random.randint(1,100, sample),
    "s3": np.random.randint(1,100, sample),
    "s4": np.random.randint(1,100, sample),
    "s5": np.random.randint(1,100, sample)
    
})
df.head()

NameError: name 'np' is not defined

# Updating Columns/Adding Columns

In [ ]:
df.with_columns([
    ('Mr.'+ pl.col('student name')).alias("Attendent"),( pl.col('s1')*0.20).alias("Viva")
]).head()

In [ ]:
df.with_columns([
    ( pl.col('s5')).mean().over('s5').alias("Mean")
]).head()