In [1]:
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns
# https://github.com/martinbel/polars-tutorial/blob/master/04%20-%20Polars.ipynb

In [5]:
df = pl.read_csv("2019-Oct-reduced.csv")

In [6]:
df.head().to_pandas()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2.103810e+18,None,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2.053010e+18,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2.053010e+18,furniture.living_room.sofa,None,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2.053010e+18,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2.053010e+18,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [7]:
# "%Y": Year with a four-digit representation (e.g., 2023).
# "%m": Month with a zero-padded two-digit representation (e.g., 01 for January).
# "%d": Day of the month with a zero-padded two-digit representation (e.g., 05).
# "%H": Hour of the day in a 24-hour format with a zero-padded two-digit representation (e.g., 13 for 1 PM).
# "%M": Minute of the hour with a zero-padded two-digit representation (e.g., 07).
# "%S": Second of the minute with a zero-padded two-digit representation (e.g., 45).
# "%Z": Time zone abbreviation or name, depending on the implementation.

# The full form of strptime is "string parse time

In [27]:
df.with_columns([
    pl.col('event_time').str.strptime(pl.Datetime , "%Y-%m-%d %H:%M:%S %Z")
]).head(10)

shape: (10, 9)
┌──────────────┬────────────┬────────────┬─────────────┬───┬──────────┬────────┬───────────┬───────────────────────────┐
│ event_time   ┆ event_type ┆ product_id ┆ category_id ┆ … ┆ brand    ┆ price  ┆ user_id   ┆ user_session              │
│ ---          ┆ ---        ┆ ---        ┆ ---         ┆   ┆ ---      ┆ ---    ┆ ---       ┆ ---                       │
│ datetime[μs] ┆ str        ┆ i64        ┆ f64         ┆   ┆ str      ┆ f64    ┆ i64       ┆ str                       │
╞══════════════╪════════════╪════════════╪═════════════╪═══╪══════════╪════════╪═══════════╪═══════════════════════════╡
│ 2019-10-01   ┆ view       ┆ 44600062   ┆ 2.1038e18   ┆ … ┆ shiseido ┆ 35.79  ┆ 541312140 ┆ 72d76fde-8bb3-4e00-8c23-a │
│ 00:00:00     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ 032dfed…                  │
│ 2019-10-01   ┆ view       ┆ 3900821    ┆ 2.0530e18   ┆ … ┆ aqua     ┆ 33.2   ┆ 554748717 ┆ 9333dfbd-b87a-4708-9857-6 │
│ 00:00:00     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ 336556b…                  │
│ 2019-10-01   ┆ view       ┆ 17200506   ┆ 2.0530e18   ┆ … ┆ null     ┆ 543.1  ┆ 519107250 ┆ 566511c2-e2e3-422b-b695-c │
│ 00:00:01     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ f8e6e79…                  │
│ 2019-10-01   ┆ view       ┆ 1307067    ┆ 2.0530e18   ┆ … ┆ lenovo   ┆ 251.74 ┆ 550050854 ┆ 7c90fc70-0e80-4590-96f3-1 │
│ 00:00:01     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ 3c02c18…                  │
│ …            ┆ …          ┆ …          ┆ …           ┆ … ┆ …        ┆ …      ┆ …         ┆ …                         │
│ 2019-10-01   ┆ view       ┆ 17300353   ┆ 2.0530e18   ┆ … ┆ creed    ┆ 380.96 ┆ 555447699 ┆ 4fe811e9-91de-46da-90c3-b │
│ 00:00:08     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ bd87ed3…                  │
│ 2019-10-01   ┆ view       ┆ 31500053   ┆ 2.0530e18   ┆ … ┆ luminarc ┆ 41.16  ┆ 550978835 ┆ 6280d577-25c8-4147-99a7-a │
│ 00:00:08     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ bc60484…                  │
│ 2019-10-01   ┆ view       ┆ 28719074   ┆ 2.0530e18   ┆ … ┆ baden    ┆ 102.71 ┆ 520571932 ┆ ac1cd4e5-a3ce-4224-a2d7-f │
│ 00:00:10     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ f660a10…                  │
│ 2019-10-01   ┆ view       ┆ 1004545    ┆ 2.0530e18   ┆ … ┆ huawei   ┆ 566.01 ┆ 537918940 ┆ 406c46ed-90a4-4787-a43b-5 │
│ 00:00:11     ┆            ┆            ┆             ┆   ┆          ┆        ┆           ┆ 9a410c1…                  │
└──────────────┴────────────┴────────────┴─────────────┴───┴──────────┴────────┴───────────┴───────────────────────────┘

In [65]:
# 512742880 koi or value use karoge tou error aasakhata hai kiu ke o values bohat ziada hongi jabhi eror ayega
df.filter(pl.col('user_id') ==512742880).to_pandas().sample(5)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
19,2019-10-01 02:21:04 UTC,view,1480731,2.053010e+18,computers.desktop,pulser,975.55,512742880,dc4b4278-a623-4113-b76a-391e2b54e3ad
38,2019-10-01 06:05:45 UTC,view,1480731,2.053010e+18,computers.desktop,pulser,975.55,512742880,a8bd0b36-f6c0-4b99-a8ff-c28c78eec308
21,2019-10-01 02:21:18 UTC,view,1480731,2.053010e+18,computers.desktop,pulser,975.55,512742880,dc4b4278-a623-4113-b76a-391e2b54e3ad
11,2019-10-01 02:18:20 UTC,view,1480708,2.053010e+18,computers.desktop,pulser,548.25,512742880,dc4b4278-a623-4113-b76a-391e2b54e3ad
28,2019-10-01 03:42:56 UTC,view,1700675,2.053010e+18,computers.peripherals.monitor,samsung,257.12,512742880,3f1dc3b7-72f4-4733-864a-fb6e61ca067c

# 1. Keep rows with purchases only

In [66]:
df_purchases = df.filter(pl.col('event_type')=='purchase')
df_purchases.head()

shape: (5, 9)
┌─────────────────────┬────────────┬────────────┬─────────────┬───┬─────────┬────────┬───────────┬─────────────────────┐
│ event_time          ┆ event_type ┆ product_id ┆ category_id ┆ … ┆ brand   ┆ price  ┆ user_id   ┆ user_session        │
│ ---                 ┆ ---        ┆ ---        ┆ ---         ┆   ┆ ---     ┆ ---    ┆ ---       ┆ ---                 │
│ str                 ┆ str        ┆ i64        ┆ f64         ┆   ┆ str     ┆ f64    ┆ i64       ┆ str                 │
╞═════════════════════╪════════════╪════════════╪═════════════╪═══╪═════════╪════════╪═══════════╪═════════════════════╡
│ 2019-10-01 00:02:14 ┆ purchase   ┆ 1004856    ┆ 2.0530e18   ┆ … ┆ samsung ┆ 130.76 ┆ 543272936 ┆ 8187d148-3c41-46d4- │
│ UTC                 ┆            ┆            ┆             ┆   ┆         ┆        ┆           ┆ b0c0-9c08cd9d…      │
│ 2019-10-01 00:04:37 ┆ purchase   ┆ 1002532    ┆ 2.0530e18   ┆ … ┆ apple   ┆ 642.69 ┆ 551377651 ┆ 3c80f0d6-e9ec-4181- │
│ UTC                 ┆            ┆            ┆             ┆   ┆         ┆        ┆           ┆ 8c5c-837a30be…      │
│ 2019-10-01 00:06:02 ┆ purchase   ┆ 5100816    ┆ 2.0530e18   ┆ … ┆ xiaomi  ┆ 29.51  ┆ 514591159 ┆ 0e5dfc4b-2a55-43e6- │
│ UTC                 ┆            ┆            ┆             ┆   ┆         ┆        ┆           ┆ 8c05-97e1f07f…      │
│ 2019-10-01 00:07:07 ┆ purchase   ┆ 13800054   ┆ 2.0530e18   ┆ … ┆ santeri ┆ 54.42  ┆ 555332717 ┆ 1dea3ee2-2ded-42e8- │
│ UTC                 ┆            ┆            ┆             ┆   ┆         ┆        ┆           ┆ 8e7a-4e2ad6ae…      │
│ 2019-10-01 00:09:26 ┆ purchase   ┆ 4804055    ┆ 2.0530e18   ┆ … ┆ apple   ┆ 189.91 ┆ 524601178 ┆ 2af9b570-0942-4dcd- │
│ UTC                 ┆            ┆            ┆             ┆   ┆         ┆        ┆           ┆ 8f25-4d84fba8…      │
└─────────────────────┴────────────┴────────────┴─────────────┴───┴─────────┴────────┴───────────┴─────────────────────┘

In [67]:
df_purchases.shape

(17296, 9)

## 2. Let's compute RFM

In [68]:
# lets find out unique values
df_purchases = df_purchases.select(['event_time', 'user_id', 'price']).unique()
# df_purchases.head()
# *
df_purchases = df_purchases.to_pandas()

In [69]:
df_purchases.head()

                event_time    user_id   price
0  2019-10-01 00:04:37 UTC  551377651  642.69
1  2019-10-01 00:06:02 UTC  514591159   29.51
2  2019-10-01 00:09:26 UTC  524601178  189.91
3  2019-10-01 00:10:08 UTC  524325294  515.67
4  2019-10-01 02:20:16 UTC  512550575  141.86

## Compute time difference

In [70]:
from datetime import datetime
anchor_date = datetime(2019, 11, 30)
anchor_date

datetime.datetime(2019, 11, 30, 0, 0)

In [73]:
# 1e6 : represents 1 million, which is the number of microseconds in a second.
# 3600 : represents the number of seconds in an hour.
# 24 : represents the number of hours in a day.

In [74]:
date_diff = anchor_date - pl.col("event_time") / (1e6 * 3600 * 24)
df_purchases = date_diff

In [77]:
%%timeit
df_agg = df_purchases.groupby('user_id').agg([
    pl.col('date_diff').min().alias("recency"),
    pl.count(),
    pl.col('price').sum(),
])

AttributeError: 'Expr' object has no attribute 'groupby'